<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>Sending e-mails</title>
  </head>
  <body>
    <div class="container">
      <form>
        <h5 class="form=title">Send form information with email</h5>
        <input type="text" id="subject" placeholder="Subject" /><br />
        <input type="email" id="email" placeholder="Email" /><br />
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      $("form").on("submit", (e) => {
        e.preventDefault();

        const email = $("#email").val().trim();
        const subject = $("#subject").val().trim();
        const text = $("#text").val().trim();

        const data = {
          email,
          subject,
          text,
        };
        // we're going to send the DATA to /EMAIL
        $.post("/email", data, function () {
          console.log("Server received our data");
        });
      });
    </script>
  </body>
</html>
